@charset "utf-8";

/*
 * Global layout 
 */

body { 
  font-size: 11px;
  width: 40em;
  margin: 2em auto;
  -webkit-text-size-adjust: 100%;
}
img.center {
  width: 24em;
  margin: 2em auto;
}
@media screen and (max-device-width : 640px) {
  body {
    font-size: 13px;
    width: 90%;
    margin: 1em auto;
  }
  img.center {
    width: 80%;
  }
}
@media screen and (max-device-width : 1024px) {
  body {
    font-size: 13px;
  }
}

@media screen and (max-device-width : 1024px) {
  @viewport {
    width: device-width;
    zoom: 1.0;
  }
  @-ms-viewport{
    width: device-width;
  }
}

/*
 * https://css-tricks.com/snippets/css/force-vertical-scrollbar/
 */
html { 
  overflow-y: scroll;
}

/*
 * Colors
 */

body {
  color: #333;
  background-color: #fff;
}

a {
  color: #333;
  background-color: inherit;
}

h1, h2 {
}

a:hover {
  background-color: #ccc;
}

table, th, td {
  border: 1px solid #333;
}

/*
 * Fonts
 */

body {
  font-family: "Verdana", sans-serif;
  line-height: 1.3;
}

h1 {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 110%;
  font-weight: bold;
}

h3 {
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}

/*
 * Block element styles.
 */

p {
  text-align: left;
  margin: 1em 0;
}

p.caption {
  text-align: center;
  font-style: italic;
  margin-bottom: 2em;
}

p.longcaption {
  text-align: left;
  font-style: italic;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

ul, ol {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 1em;
  padding-left: 1em;
}

li {
  margin-top: 0.2em 0;
}

ul {
  list-style-type: square;
}

hr {
  border-top: solid 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 1px;
  margin: 1.5em 0;
}

blockquote {
  font-style: italic;
  margin-left: 1em 0;
}

img.center {
  float: none;
  border: solid 1px;
  display: block;
}

div.center {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border-collapse: collapse;
}
